@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;600&family=Karla:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #23252c;
  color: #fff;
  font-family: Karla, sans-serif;
  letter-spacing: -0.05rem;
}

.app {
  background-color: #1a1b21;
  max-width: 550px;
  margin: 20px auto;
  padding: 44px 0;
}

.card {
  background-color: #1a1b21;
  margin: auto;
  max-width: 317px;
  background-color: #23252c;
}

.header {
  line-height: 1.5rem;
  text-align: center;
  text-transform: capitalize;
}

.card-image {
  height: 317px;
  width: 317px;
}

.name {
  padding-top: 20px;
  font-weight: 700;
  font-size: 25px;
}

.position {
  font-weight: 400;
  font-size: 16px;
  color: #f3bf99;
}

.website {
  font-size: 12px;
  cursor: pointer;
}

.contact {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 5px;
  width: 115px;
  height: 34px;
  margin: 8px;
}

.btn-icon {
  margin-right: 8px;
  font-size: 18px;
}

.btn-text {
  font-size: 15px;
}
